body
{
  margin: 0;
  /* text-align: center; */
  font-family: 'Merriweather', sans-serif;
}


td {
  padding: 15px;
}

.logo
{
  width: 70%;
  height: 70%;

}

.login-btn
{
  margin-top: 5%;
}

.invalid-credentials
{
   display: none; 
   color:red;
   font-family: sans-serif;
}
